<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WELCOME</title>
    <link rel="stylesheet" href="assets1/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets1/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets1/css/Advanced-NavBar---Multi-dropdown.css">
    <link rel="stylesheet" href="assets1/css/best-carousel-slide.css">
    <link rel="stylesheet" href="assets1/css/card-3-column-animation-shadows-images.css">
    <link rel="stylesheet" href="assets1/css/cards.css">
    <link rel="stylesheet" href="assets1/css/Carousel_Image_Slider-1.css">
    <link rel="stylesheet" href="assets1/css/Carousel_Image_Slider.css">
    <link rel="stylesheet" href="assets1/css/custom-buttons.css">
    <link rel="stylesheet" href="assets1/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets1/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets1/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets1/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="assets1/css/dh-header-cover-image-button.css">
    <link rel="stylesheet" href="assets1/css/dh-navbar-inverse-1.css">
    <link rel="stylesheet" href="assets1/css/dh-navbar-inverse-2.css">
    <link rel="stylesheet" href="assets1/css/dh-navbar-inverse.css">
    <link rel="stylesheet" href="assets1/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets1/css/gradient-navbar-1.css">
    <link rel="stylesheet" href="assets1/css/gradient-navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets1/css/icon-star-full.css">
    <link rel="stylesheet" href="assets1/css/Image_center.css">
    <link rel="stylesheet" href="assets1/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets1/css/Logo.css">
    <link rel="stylesheet" href="assets1/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets1/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets1/css/styles.css">
    <link rel="stylesheet" href="assets1/css/textarea.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">


    <style>
      .dropdown {
      position: relative;
      display: inline-block;
      width: 60px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      /* background-color: #678d2100; */
      min-width: 99px;
      /* z-index: 1; */
      margin-top: 20px;
    }
    
    .dropdown-content a {
      color: black;
      font-family: helvetica;
      padding: 5px 5px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background: #1475c0;
      color: #fff;
    }
    
    hr.solid {
      border-left: none;
      border-right: none;
      border-top: 1px solid #000000;
      margin-top: -5px;
      /* border-bottom: none; */
    }
    
    .show {
      display: block;
    }
    </style>
    
</head>

<body class="m-auto">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean navbar-inverse navbar-fixed-top" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div><a class="navbar-brand" style="padding:0px;margin-left:0px;height:78px;" href="#"> <img class="img-fluid" src="assets1/img/IMG_20221010_113058_320-removebg-preview.png"></a></div><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse text-center" id="navcol-1">
                <ul class="nav navbar-nav text-capitalize ml-auto" style="margin-right: 10px;">
                    <li class="nav-item" role="presentation"><a class="nav-link text-capitalize" uk-scroll="offset:50" style="font-family: Roboto, sans-serif;color: #000000;font-weight: bold;" href="#">Home </a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-capitalize" uk-scroll="offset:100" href="#empresa" style="font-family: Roboto, sans-serif;color: #000000;font-weight: bold;">Tasks</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
              
                <div class="dropdown" style="margin-left: 30px">

                  <img class="dropbtn" id="drop"
                      src="assets1/img/sonam.jpg" style="margin-left:-30px; width: 40px; height :40px; border-radius: 30px;"/>
                  
                  <div id="myDropdown" class="dropdown-content" style=" margin-left: -25px; margin-top: 30px; width: 205px;">
                    <div>
                      <a href="userprofile.html"><i class="fa fa-user" style="margin-right: 10px;"></i>Username</a>
                    </div>

                    <div>
                      <a href="landing.html" style="padding-right:28px;"><i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i>Logout</a>
                    </div>


                  </div>
                  
              </div>
              
              
              
              
              
              
              </div>
        </div>
    </nav>
    <div class="header-container" style="background-image: url(&quot;assets1/img/Header%20image.jpg&quot;);padding-top: 100px;padding-bottom: 175px;height: 5px;margin-top: -90px;"></div><img class="rounded-circle img-fluid" src="assets1/img/user%20picture.jpg" style="height: 190px;width: 190px;margin-left: 60px;margin-top: -90px;">
    <section style="margin-left: 280px;margin-top: -80px;">
        <div class="container">
            <h1 style="font-size: 20px;font-family: Roboto, sans-serif;font-weight: bold;">Username</h1><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa-star-o"></i>
            <h1 style="font-family: Roboto, sans-serif;font-weight: bold;font-size: 16px;margin-top: 10px;"><i class="fa fa-location-arrow"></i>&nbsp;From Pemagatshel&nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-user-circle-o"></i>&nbsp;Joine October 2022</h1>
        </div>
    </section>
    <section style="margin-top: 20px;margin-bottom: 40px;"><div class="container">
    <div class="row">
        <div class="col-md-6" style="border: 1px solid rgba(0, 0, 0, 0.59); border-radius: 10px;">
            <h1 style="font-size: 18px;font-family: Roboto, sans-serif;font-weight: bold;margin-top: 16px;margin-left: 40px; padding-top: 25px">Languages</h1>
            <h1 style="font-size: 16px;font-family: Roboto, sans-serif;margin-top: 20px;margin-left: 40px;">Dzongkha</h1>
            <h1 style="font-size: 16px;font-family: Roboto, sans-serif;margin-left: 40px;margin-top: 20px;">English</h1>
            <h1 style="font-size: 16px;font-family: Roboto, sans-serif;margin-left: 40px;margin-top: 20px;">Nepali</h1>
            <hr style="margin-top:30px">
            <h1 style="font-size: 18px;font-family: Roboto, sans-serif;font-weight: bold;margin-left: 40px;margin-top: 28px;">Skills</h1><button class="btn" type="button" style="  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.59);
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
">Photoshop</button><button class="btn" type="button" style="  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.59);
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
">Graphic design</button>
            <hr style="margin-top: 30px;">
            <h1 style="font-family: Roboto, sans-serif;font-size: 16px;font-weight: bold;margin-top: 40px;margin-left: 40px;">My CV: <a href="#" style="color:light blue;"> my-cv.pdf</a></h1>
        </div>
<!--         <hr style="border: none; margin-left:-2px; border-left: 1px solid; height: 70vh; width: 1px; ">  -->
        <div class="col-md-6" style="border: 1px solid rgba(0, 0, 0, 0.59); border-radius: 10px;">
            <h1 style="font-size: 18px;font-family: Roboto, sans-serif;font-weight: bold;margin-top: 16px;margin-left: 40px; padding-top: 25px">Description</h1>
            <p style="margin-top: 10px;margin-left: 40px;">Hi,<br />Thanks for taking a look at my profile! I’m a professional freelance Illustrator and I’m looking for the most challenging and interesting projects you can bring me!<br /><br />I’ve been working in the industry for over 5 years now,
                and combining that with my Design degree, I’ve quickly learned about and completed every type of design project there is. I work hard to provide my clients any development and design assets1 they could possibly need, including (but not
                limited to):<br /><br />- Graphic Design<br /><br />- Photoshop<br /><br /></p>
        </div>
    </div>
</div></section>

<!-- Footer -->
<footer class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer u-grey-80" id="sec-5d48" style="margin-top: 1px; padding-top: 5px;">
  <div class="u-clearfix u-sheet u-sheet-1">
    <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="621" data-image-height="402">
      <img src="assets1\img\IMG_20221010_113058_320-removebg-preview.png" class="u-logo-image u-logo-image-1" style="margin-top: -20px;">

    </a>
    <p class="u-text u-text-1">
      <span style="font-weight: 700;">Developers<br>
      </span>Dorji Wangmo 12190006.gcit@rub.edu.bt<br>Norbu Wangchuk 12190016.gcit@rub.edu.bt<br>Sangay Lakshay Yangzom 12190022.gcit@rub.edu.bt<br>Tshelthrim Tenzin 12190031.gcit@rub.edu.bt&nbsp;
    </p>
    <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1" >
      <a class="u-social-url" title="facebook" target="_blank" href=""><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-673f"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-673f"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
        c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
      </a>
      <a class="u-social-url" title="instagram" target="_blank" href=""><span class="u-icon u-social-icon u-social-instagram u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fa1a"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-fa1a"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
        z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
        C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
        c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
      </a>
      <a class="u-social-url" title="linkedin" target="_blank" href=""><span class="u-icon u-social-icon u-social-linkedin u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9b95"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-9b95"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
        C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
        H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
      </a>
    </div>
  </div></footer>
    <script src="assets1/js/jquery.min.js"></script>
    <script src="assets1/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets1/js/Advanced-NavBar---Multi-dropdown.js"></script>

    <script>
          document.getElementById("drop").addEventListener("click", function(e) {
        document.getElementById("myDropdown").classList.toggle("show");
      });
      
      
      // Close the dropdown if the user clicks outside of it
      window.addEventListener("click", function(event) {
        if (!event.target.matches('.dropbtn')) {
          document.querySelectorAll(".dropdown-content.show")
            .forEach(openDropdown => openDropdown.classList.remove('show'))
        }
      });
 </script>
</body>

</html>